body {
  background-color: black;
  color: rgba(250, 214, 177);
}

h1 {
  color: brown;
  text-align: center;
}
a {
  color: brown;
}
.container {
  width: 700px;
  margin: 100px auto;
}
.form-container {
  padding: 30px 10px;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 15px;
  margin-top: 50px;
}
form {
  display: flex;
  justify-content: center;
}
footer {
  margin-top: 30px;
  text-align: center;
}
.instructions {
  padding: 12px 15px;
  background-color: rgb(250, 214, 177);
  border: 1px solid brown;
  border-radius: 50px;
  width: 60%;
  margin-right: 5px;
  color: brown;
  font-size: 16px;
}
.submit-button {
  padding: 12px 15px;
  border: none;
  border-radius: 50%;
  background-color: brown;
  color: black;
  margin-left: 5px;
}
.poem {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 15px;
  margin-top: 30px;
  padding: 30px 10px;
}
.hidden {
  display: none;
}

.hint {
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.6;
  font-size: 15px;
  margin-left: 80px;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
